<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keyword" content="drupal,theme,gci16">
    <!-- FONTS GOES HERE -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- CSS GOES HERE -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Drupal Theme</title>
</head>

<body>
    <div class="header">
    <li class="left"><em>DRUPAL</em></li>
        <ul class="ul">
            <a href="">
                <li>HOME</li>
            </a>
            <a href="">
                <li>ABOUT</li>
            </a>
            <a href="">
                <li>COntact</li>
            </a>
        </ul>
        {{page.myheader}}
    </div>
    <div class="container">

        {{page.home}}
        <img src="https://photos-5.dropbox.com/t/2/AADNHxlOC_k8kd_HVjQGic4cOUBGSvgG0ywZoVzckTYEgw/12/422650958/jpeg/32x32/1/_/1/2/land'.jpg/EIiwkrIDGEIgAigC/nmuXg5hLa-wnKu_XyZW1ZbrL2d4Hoyh27sB1PzTfxMk?size=1280x960&size_mode=3" class="img">
    </div>
    <div class="about">
    {{page.content}}
        <h1>WELCOME TO DRUPAL</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</body>

</html>
