html,
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}
.header{
	height: 70px;
	width: 100%;
	top: 0;
	position: fixed;
	position: relative;
	background-color: #061C29;
	top: 19px;
}
.ul{
	float: right;
	position: relative;
	right: 3%;
	text-decoration: none;
	list-style: none;

}
.ul > a{
	display: inline-block;
	text-decoration: none;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 8px;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}
.ul > a:before{
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	width: 0;
	margin: auto;
	height: 0.1rem;
	background-color: #fff;
}
.ul > a:hover:before{
	width: 100%;
}
*,*:before,*:after{
	box-sizing: border-box;
	transition: 0.2s all ease;
}
.left{
	list-style: none;
	float: left;
	position: relative;
	display: inline-block;
	font-size: 40px;
	font-weight: bolder;
	color: #fff;
	left: 20px;
	top: 10px;
}
.container{
	height: 90%;
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
	top: 18px;
}
.container:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(15, 81, 100, 0.48);
}
.img{
	height: 100%;
	width: 100%;
}
.about{
	height: auto;
	width: 100%;
	position: relative;
	padding-top: 20px;
	padding-bottom: 100px;

}
.about > h1{
	position: relative;
	text-align: center;
	margin: 0 auto;
	font-size: 35px;
	top: 40px;
}
.about > p{
	width: 80%;
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 60px;
}